    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        height: 2000px;
        padding-top: 50px;
    }
    
    li {
        list-style: none;
    }
    
    .clearfix:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    
    .clearfix {
        /* IE6、7 专有 */
        *zoom: 1;
    }
    
    .w {
        margin: 0 auto;
    }
    
    header.w {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 50px;
        background-color: #ffffff;
    }
    
    .header-content {
        margin: 0 auto;
        height: 50px;
        box-shadow: 0px 0px 12px rgb(0, 0, 0, .1);
    }
    
    .logo {
        float: left;
    }
    
    .logo img {
        width: 172px;
        vertical-align: middle;
    }
    
    .buy-nav {
        float: right;
        height: 34px;
        margin: 8px 0;
        text-align: center;
        padding-right: 15px;
    }
    
    .buy-nav ul {
        float: left;
    }
    
    .buy-nav ul li {
        float: left;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
    }
    
    .buy-nav .buy-link {
        width: 140px;
        background-color: #ff4488;
        border-radius: 7px;
    }
    
    .buy-nav .buy-link a {
        font-size: 14px;
        color: #ffffff;
    }
    
    .switch-lang {
        font-size: 14px;
        color: #333333;
    }
    
    .eng-strong {
        font-weight: 700;
        border-left: 1px solid #c6c6c6;
        padding-left: 10px;
    }
    
    .banner {
        position: relative;
        background-color: #fdf4f5;
    }
    
    .banner-left {
        position: absolute;
        float: left;
        top: 50px;
        left: 80px;
    }
    
    .banner-left h1 {
        font-size: 55px;
    }
    
    .banner-left p {
        width: 814px;
        height: 76px;
        margin: 25px 0;
        line-height: 35px;
        font-size: 18px;
    }
    
    .banner-left img {
        display: block;
        width: 400px;
        height: 70px;
    }
    
    .btn-discover {
        margin-top: 30px;
        width: 400px;
        height: 73px;
        line-height: 73px;
        text-align: center;
        background-color: #ff4488;
        border-radius: 8px;
    }
    
    .btn-discover a {
        display: block;
        font-size: 20px;
        color: #ffffff;
    }
    
    .banner-right {
        float: right;
        overflow: hidden;
    }
    
    .banner-right img {
        width: 921px;
    }
    
    .center {
        text-align: center;
        margin-top: 10px;
    }
    
    .w-content {
        width: 910px;
        margin: 0 auto;
    }
    
    .w-image {
        margin-top: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .kick-row {
        height: 290px;
        overflow: hidden;
        background-color: #2bde73;
    }
    
    .kick-row h1 {
        height: 90px;
        margin-top: 30px;
        padding-top: 60px;
        padding-bottom: 0;
        color: #ffffff;
        font-size: 30px;
    }
    
    .kick-row p {
        height: 87px;
        line-height: 87px;
    }
    
    .kick-row p a {
        text-decoration: underline;
        font-size: 18px;
        color: #ffffff;
    }
    
    .epilation-row h1 {
        height: 110px;
        padding-top: 82px;
        padding-bottom: 0;
        font-size: 40px;
    }
    
    .epilation-video {
        height: 510px;
        background-image: url(../images/maxresdefault.jpg);
    }
    
    .epilation-row p {
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
    }
    
    .epilation-row .p1 {
        height: 78px;
        margin-top: 10px;
        padding-top: 50px;
        font-size: 30px;
        font-weight: 400;
    }
    
    .tech-row {
        background-color: #f8f8f8;
    }
    
    .tech-row h1 {
        height: 100px;
        padding-top: 50px;
        padding-bottom: 0;
        font-size: 40px;
    }
    
    .tech-row p {
        height: 54px;
        line-height: 30px;
        padding: 30px;
        font-size: 18px;
    }
    
    .p-content {
        text-align: left;
        margin: 10px auto;
        width: 828px;
        height: 180px;
        padding: 20px 40px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.28);
    }
    
    .p-content li {
        list-style: outside;
        list-style-position: outside;
        padding: 8px 0;
    }
    
    .tech-img {
        margin-top: 40px;
        height: 533px;
        background-image: url(../images/02.jpg);
    }
    
    .feater-row h1 {
        height: 60px;
        padding-top: 50px;
        padding-bottom: 0;
        font-size: 40px;
    }
    
    .feater-row p {
        width: 900px;
        padding: 15px 10px;
        font-size: 18px;
        line-height: 25px;
        text-indent: 1em;
    }
    
    .feater-row p span {
        font-weight: 700;
    }
    
    .feater-img {
        height: 557px;
        background-image: url(../images/04.jpg);
    }
    
    .works-row {
        background-color: #f8f8f8;
    }
    
    .works-row h1 {
        height: 60px;
        padding-top: 50px;
        padding-bottom: 0;
        font-size: 40px;
    }
    
    .works-desc {
        padding: 30px 0;
        height: 135px;
        line-height: 25px;
        font-size: 18px;
    }
    
    .works-desc p {
        margin: 15px 0;
    }
    
    .works-video video {
        height: 521px;
        width: 100%;
    }
    
    .works-video p {
        font-size: 18px;
        padding: 20px 0;
    }
    
    .works-img {
        height: 219px;
        width: 100%;
        padding-bottom: 50px;
        background-image: url(../images/06.jpg);
        background-position: center;
        background-size: 50em;
    }
    
    .try-row h1 {
        height: 60px;
        padding-top: 50px;
        padding-bottom: 0;
        font-size: 40px;
    }
    
    .try-row p {
        font-size: 18px;
    }
    
    .try-img1 {
        height: 381px;
        margin-bottom: 20px;
        background-image: url(../images/07.jpg);
    }
    
    .try-img2 {
        height: 610px;
        margin-top: 20px;
        background-image: url(../images/08.jpg);
    }
    
    .do-row {
        background-color: #f8f8f8;
    }
    
    .do-row h1 {
        height: 60px;
        padding-top: 50px;
        padding-bottom: 0;
        font-size: 40px;
    }
    
    .do-row p {
        font-size: 18px;
        line-height: 25px;
        padding: 10px 0;
    }
    
    .do-img1 {
        height: 532px;
        margin: 20px auto;
        background-image: url(../images/09.jpg);
    }
    
    .do-img2 {
        height: 532px;
        margin: 20px auto;
        background-image: url(../images/10.jpg);
    }
    
    .do-img3 {
        height: 532px;
        margin: 20px auto;
        background-image: url(../images/11.jpg);
    }
    
    .do-img4 {
        height: 532px;
        margin: 20px auto;
        background-image: url(../images/12.jpg);
    }
    
    .feedback-row {
        /* background-color: #ffffff; */
    }
    
    .feedback-row h1 {
        height: 60px;
        padding-top: 50px;
        padding-bottom: 0;
        font-size: 40px;
    }
    
    .feedback-row p {
        font-size: 18px;
        line-height: 25px;
    }
    
    .feedback-img {
        height: 512px;
        background-image: url(../images/maxresdefault-end.jpg);
    }
    
    .feedback-row a {
        display: block;
        margin: 30px auto;
        width: 400px;
        height: 71px;
        line-height: 71px;
        font-size: 22px;
        color: #ffffff;
        background-color: #ff4488;
    }
    
    .press-row {
        height: 100px;
        padding: 10px 0;
        line-height: 90px;
        background-color: #e8e8e8;
    }
    
    .feater-content {
        float: left;
        width: 418px;
        padding-right: 30px;
        padding-left: 300px;
        font-size: 18px;
    }
    
    .press-row img {
        width: 179px;
        height: 90px;
    }
    
    .press-img {
        float: left;
        margin: 0 15px;
    }
    
    .press-img img {
        vertical-align: middle;
    }
    
    footer {
        margin-top: 50px;
        padding-left: 15px;
    }
    
    .pay-style {
        float: left;
        width: 624px;
        padding: 36px 26px;
        text-align: left;
    }
    
    .pay-style h3 {
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .pay-style p {
        height: 42px;
        font-size: 14px;
        color: #aaaaaa;
    }
    
    .pay-style img {
        width: 80%;
        vertical-align: middle;
    }
    
    .pay-style p a {
        color: #ff4488;
    }
    
    .links {
        float: left;
        width: 624px;
        padding: 36px 26px;
    }
    
    .links dt {
        height: 24px;
        margin-bottom: 10px;
    }
    
    .links dl dd {
        font-size: 14px;
        height: 27px;
    }
    
    .links dl dd a {
        color: #ff4488;
    }
    
    .links dl dd a:hover {
        text-decoration: underline;
    }
    
    .contacts {
        float: left;
        padding: 36px 26px;
    }
    
    .contacts h3 {
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .contacts p {
        line-height: 27px;
        font-size: 14px;
        color: #aaaaaa;
    }
    
    .contacts p a {
        color: #ff4488;
    }
    
    .contacts p a:hover {
        text-decoration: underline;
    }