body{
    margin: 0;
    padding: 0;
    background:linear-gradient(to right, #b7e7dd 5px, #f7f7f7 4px 340px, #fff 316px);
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

h1{
    font-size: 16px;
    font-weight: normal;
}

.header{
    margin-top: 20px;
    text-align: center;
}

.header-title{
    float: left;
    margin-left: 20px;
}

.header-title img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.header-title span{
    padding-left: 10px;
}

.header-title strong{
    color: #b7e7dd ;
}

.header-link{
    float: right;
    margin-right: 50px;
}

.header-link li{
    display: inline-block;
    padding: 0 10px 0 10px;
}
